.films__card {
    background-color: #2F2F2F;
    justify-content: space-between;
    display: flex;
    box-sizing: border-box;
}

@media all and (max-width: 400px) {
    .films__card  {
        flex-direction: column-reverse;
    }
}

.films__info {
    margin: 22px 0 22px 22px;
    box-sizing: border-box;
}

@media all and (max-width: 400px) {
    .films__info  {
        display: flex;
        justify-content: space-between;
        margin: 0 12px 0 12px;
    }
}

.films__info-cont {
    padding-bottom: 17px;
    box-sizing: border-box;
}

@media all and (max-width: 320px) {
    .films__info-cont {
        padding-bottom: 14px;
    }
}

.films__title {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    padding-bottom: 13px;
    box-sizing: border-box;
}

@media all and (max-width: 320px) {
    .films__title {
        font-size: 12px;
        padding-bottom: 8px;
    }
}

.films__time {
    font-size: 11px;
    line-height: 1.1;
    color: #8B8B8B;
    box-sizing: border-box;
}

.films__like {
    height: 12px;
    width: 14px;
    background-image: url("../../images/like-noactive.svg");
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.films__like_active {
    background-image: url("../../images/like.svg");
}

.films__like:hover{
    opacity: 0.8;
}

.films__delete {
    width: 14px;
    height: 12px;
    background-image: url("../../images/delete.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.films__delete:hover{
    opacity: 0.8;
}

.films__delete_hide {
    display: none;
}

.films__img {
    width: 220px;
    height: 122px;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    margin: 6px 6px 6px 0;
    object-fit: cover;
}




@media all and (max-width: 400px) {
    .films__img  {
        width: 100%;
        height: 168px;
        margin:0 0 14px 0;
    }
}